@charset "UTF-8" ;

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#C32A1B , #FDC21A);

}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px  5px  15px  rgba(136, 109, 93, 0,616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #129CB6;
    text-align: center;
    text-shadow: 1px 1px 2px #052930;
}

h2 {
    color: #155469;
}
p {
    text-align: justify;
}

